<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Thymeleaf課題</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.h1}"></h2>
    <p th:text="#{content.message}"></p>
    <th:block th:if="${param.previous} == null">
        <p></p>
    </th:block>
    <th:block th:unless="${param.previous} == null">
        <p th:text="'前回入力された値は「' + ${param.previous} + '」でした。'"></p>
    </th:block>
    <form method="post" action="/output">
        <input type="text" name="val">
        <button type="submit" th:text="#{content.submit}"></button>
    </form>
</body>
</html>
