<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Thymeleaf課題</title>
</head>
<body>
    <h1>Thymeleaf課題</h1>
    <h2>入力画面</h2>
    <p>値を入力してください。</p>
    <th:block th:if="${param.previous} == null">
        <p></p>
    </th:block>
    <th:block th:unless="${param.previous} == null">
        <p th:text="'前回入力された値は「' + ${param.previous} + '」でした。'"></p>
    </th:block>
    <form method="post" action="/output">
        <input type="text" name="val">
        <button type="submit">送信</button>
    </form>
</body>
</html>
